* {
	margin: 0;
	box-sizing: border-box;
}
body {
    padding: 30px;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 43px;
    padding: 5px;
    margin: 20px 0px 80px 0px;
}
section {
    margin-right: 24px;
    background-color: #c4c3c3;
    width: 32%;
    float: left;
    border: 2px solid black;
    margin-bottom: 10px;
}
section dev {
    height: 20px;
}
section dev h2 {
    
}
section dev p {
    
}
.section {
    
}
h2.chicken, h2.beef, h2.sushi {
    background-color: #eaa8a8;
    width: 35%;
    text-align: center;
    display: inline;
    float: right;
    top: 0px;
    right: 0px;
    border: 2px solid black;
    border-right: 0px solid black;
    border-top: 0px solid black;
}
h2.beef {
    background-color: #d85f5f;
    color: #ffffff;
}
h2.sushi {
    background-color: #ffe8ba;
}
p.para {
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
section.section:nth-child(3) {
    float: right;
    margin-right: 0px;
}
