

* {
	margin: 0;
	box-sizing: border-box;
}
body {
    padding: 30px;
}
h1 {
    text-align: center;
    font-size: 43px;
    padding: 5px;
    margin: 20px 0px 80px 0px;
}
.box {
    width: 32%;
    background-color: #c4c3c3;
    float: left;
    border: 2px solid black;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
    height: 400px;
    overflow: hidden;
}
section.box:nth-child(4) {
    margin-right: 0px;
}
.div1 {
    background-color: #eaa8a8;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline;
    width: 35%;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    
}

.div2 {
    position: absolute;
    top:35px;
    left: 0px;
    padding: 10px;
}
.chicken {
    
}
.beef {
    background-color: #d85f5f;
    color: #ffffff;
}
.sushi {
    background-color: #ffe8ba;
}


